.Hunter-time-picker {
  border: 1px solid #2e6da4;
  border: 1px solid var(--lichkin-plugin-border-color);
  background: #ffffff;
  background: var(--lichkin-plugin-background-color);
  position: absolute;
  width: 390px;
  z-index: 999999;
  font-size: 0;
}

.Hunter-time-picker:before, .Hunter-time-picker:after {
  border: 5px solid transparent;
  border-top: 0;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  left: 10px;
}

.Hunter-time-picker:before {
  top: -5px;
  border-bottom-color: #2e6da4;
  border-bottom-color: var(--lichkin-plugin-border-color);
}

.Hunter-time-picker:after {
  border-bottom-color: #ffffff;
  border-bottom-color: var(--lichkin-plugin-background-color);
  top: -4px;
}

.Hunter-time-picker * {
  color: #2e6da4;
  color: var(--lichkin-plugin-font-color);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}

.Hunter-time-picker ul {
  list-style: none;
}

.Hunter-time-picker ul li {
  display: inline-block;
  position: relative;
  margin: 4px;
  cursor: pointer;
}

.Hunter-time-picker p {
  font-weight: bold;
  padding: 0 4px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.Hunter-time-picker .Hunter-wrap {
  background-color: #ffffff;
  background-color: var(--lichkin-plugin-background-color);
  color: #2e6da4;
  color: var(--lichkin-plugin-font-color);
  position: relative;
  width: 100%;
  padding: 9px;
}

.Hunter-time-picker .Hunter-hour-name {
  border: 1px solid #2e6da4;
  border: 1px solid var(--lichkin-plugin-border-color);
  background-color: #ffffff;
  background-color: var(--lichkin-plugin-background-color);
  color: #2e6da4;
  color: var(--lichkin-plugin-font-color);
  display: inline-block;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
}

.Hunter-time-picker .Hunter-hour-name:hover {
  border-color: #ffffff;
  border-color: var(--lichkin-plugin-border-color-hover);
  background-color: #002d64;
  background-color: var(--lichkin-plugin-background-color-hover);
  color: #ffffff;
  color: var(--lichkin-plugin-font-color-hover);
}

.Hunter-time-picker .Hunter-hour.active {
  z-index: 999999999;
}

.Hunter-time-picker .active .Hunter-hour-name {
  border-color: #ffffff;
  border-color: var(--lichkin-plugin-border-color-selected);
  background-color: #6eade4;
  background-color: var(--lichkin-plugin-background-color-selected);
  color: #ffffff;
  color: var(--lichkin-plugin-font-color-selected);
}

.Hunter-time-picker .active:hover .Hunter-hour-name {
  border-color: #ffffff;
  border-color: var(--lichkin-plugin-border-color-selected-hover);
  background-color: #0e4d84;
  background-color: var(--lichkin-plugin-background-color-selected-hover);
  color: #ffffff;
  color: var(--lichkin-plugin-font-color-selected-hover);
}

.Hunter-time-picker .Hunter-minute-wrap {
  border: 1px solid #2e6da4;
  border: 1px solid var(--lichkin-plugin-border-color);
  background-color: #ffffff;
  background-color: var(--lichkin-plugin-background-color);
  color: #2e6da4;
  color: var(--lichkin-plugin-font-color);
  display: none;
  position: absolute;
  top: 30px;
  width: 370px;
  padding: 10px 10px 5px 10px;
}

.Hunter-time-picker .Hunter-minute {
  border: 1px solid #2e6da4;
  border: 1px solid var(--lichkin-plugin-border-color);
  background-color: #ffffff;
  background-color: var(--lichkin-plugin-background-color);
  color: #2e6da4;
  color: var(--lichkin-plugin-font-color);
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Hunter-time-picker .Hunter-minute:hover {
  border-color: #ffffff;
  border-color: var(--lichkin-plugin-border-color-hover);
  background-color: #002d64;
  background-color: var(--lichkin-plugin-background-color-hover);
  color: #ffffff;
  color: var(--lichkin-plugin-font-color-hover);
}

.Hunter-time-picker .Hunter-minute.active {
  border-color: #ffffff;
  border-color: var(--lichkin-plugin-border-color-selected);
  background-color: #6eade4;
  background-color: var(--lichkin-plugin-background-color-selected);
  color: #ffffff;
  color: var(--lichkin-plugin-font-color-selected);
}

.Hunter-time-picker .Hunter-minute.active:hover {
  border-color: #ffffff;
  border-color: var(--lichkin-plugin-border-color-selected-hover);
  background-color: #0e4d84;
  background-color: var(--lichkin-plugin-background-color-selected-hover);
  color: #ffffff;
  color: var(--lichkin-plugin-font-color-selected-hover);
}

.Hunter-time-picker .Hunter-clean-btn {
  background-color: #2e6da4;
  background-color: var(--lichkin-plugin-border-color);
  color: #ffffff;
  color: var(--lichkin-plugin-background-color);
  border: 5px solid #2e6da4;
  border: 5px solid var(--lichkin-plugin-border-color);
  width: 108px;
  height: 30px;
  background-image: none !important;
  border-radius: 0;
  cursor: pointer;
}

.Hunter-clean {
  top: 14px;
}

.Hunter-time-picker .Hunter-clean-btn:hover {
  opacity: 0.6;
}