@charset "UTF-8";

#lichkin-body {
  position: relative;
  overflow: hidden;
  animation: lichkin_body_background 60s ease-out infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes lichkin_body_background {
  0% {background-color: var(--lichkin-plugin-border-color);}
  50% {background-color: var(--lichkin-plugin-light-border-color);}
  100% {background-color: var(--lichkin-plugin-border-color);}
}

#lichkin-body {
  overflow-y: hidden;
}

#lichkin-menus-container {
  position: fixed;
  width: 425px;
  height: 528px;
  bottom: 43px;
  border: 1px solid var(--lichkin-plugin-dark-border-color);
  background-color: var(--lichkin-plugin-dark-background-color);
  border-radius: 0px 12px 0px 0px;
  z-index: 88888;
}

#lichkin-menus-container #lichkin-menus-container-getted {
  overflow: hidden;
  width: 277px;
  height: 100%;
  float: left;
  background: -webkit-linear-gradient(45deg, var(--lichkin-plugin-light-light-border-color) 0px, var(--lichkin-plugin-background-color-inverse) 275px);
  background: -o-linear-gradient(45deg, var(--lichkin-plugin-light-light-border-color) 0px, var(--lichkin-plugin-background-color-inverse) 275px);
  background: -moz-linear-gradient(45deg, var(--lichkin-plugin-light-light-border-color) 0px, var(--lichkin-plugin-background-color-inverse) 275px);
  background-image: linear-gradient(45deg, var(--lichkin-plugin-light-light-border-color) 0px, var(--lichkin-plugin-background-color-inverse) 275px);
}

#lichkin-menus-container .lichkin-menus-container-getted {
  overflow: hidden;
  display: none;
  width: 277px;
  position: absolute;
}

#lichkin-menus-container .lichkin-menus-container-getted .lichkin-menu-item {
  overflow: hidden;
  cursor: pointer;
}

#lichkin-menus-container .lichkin-menus-container-getted .lichkin-menu-item:hover {
  opacity: 0.6;
}

#lichkin-menus-container .lichkin-menus-container-getted .lichkin-menu-item .lichkin-text,
#lichkin-menus-container .lichkin-menus-container-getted .lichkin-menu-item .lichkin-icon i {
  color: var(--lichkin-plugin-font-color-inverse);
}

#lichkin-menus-container .lichkin-menus-container-getted .lichkin-menu-item .lichkin-icon-menu-head {
  float: left;
}

#lichkin-menus-container .lichkin-menus-container-getted .lichkin-menu-item .lichkin-text-menu-name {
  float: left;
  overflow: hidden;
}

#lichkin-menus-container .lichkin-menus-container-getted .lichkin-menu-item .lichkin-icon-menu-tail {
  float: right;
}

#lichkin-menus-container-common {
  width: 148px;
  height: 526px;
  overflow: hidden;
  background-color: var(--lichkin-plugin-background-color);
  border-radius: 0px 9px 0px 0px;
  left: 278px;
  position: absolute;
  bottom: 44px;
  z-index: 88888;
}

#lichkin-menus-container-common .lichkin-menu {
  width: 148px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  margin-left: 0px;
  overflow: hidden;
}

#lichkin-menus-container-common .lichkin-menu:hover {
  opacity: 0.6;
}

#lichkin-menus-container-common #lichkin-menu-photo {
  width: 128px;
  height: 128px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

#lichkin-menus-container-common #lichkin-menu-photo i {
  color: var(--lichkin-plugin-font-color);
  font-size: 88px;
}

#lichkin-menus-container-common #lichkin-menu-photo:hover {
  opacity: 0.6;
}

#lichkin-menus-container-common #lichkin-menu-exit {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}

#lichkin-task-starter-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
  width: 33px;
  height: 33px;
  line-height: 32px;
  z-index: 99999;
  padding: 5px;
  background-color: var(--lichkin-plugin-background-color-inverse);
}

#lichkin-task-starter-container:hover {
  opacity: 0.6;
}

#lichkin-task-starter-container #lichkin-task-starter i {
  color: var(--lichkin-plugin-font-color-inverse);
}

#lichkin-tasks-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid var(--lichkin-plugin-border-color-inverse);
  border-bottom: 1px solid var(--lichkin-plugin-border-color-inverse);
  z-index: 88888;
  background: var(--lichkin-plugin-background-color-inverse);
  overflow: hidden;
}

#lichkin-tasks-bar #lichkin-tasks-container {
  margin-left: 42px;
  height: 42px;
  overflow: hidden;
}

#lichkin-tasks-bar #lichkin-tasks-container .lichkin-task {
  float: left;
  cursor: pointer;
  opacity: 0.6;
  border-bottom: 2px solid var(--lichkin-plugin-font-color-inverse);
  margin-left: 3px;
  padding: 4px 6px;
}

#lichkin-tasks-bar #lichkin-tasks-container .lichkin-task .lichkin-text,
#lichkin-tasks-bar #lichkin-tasks-container .lichkin-task .lichkin-icon i {
  color: var(--lichkin-plugin-font-color-inverse);
}

#lichkin-tasks-bar #lichkin-tasks-container .lichkin-task .lichkin-icon {
  float: left;
}

#lichkin-tasks-bar #lichkin-tasks-container .lichkin-task .lichkin-text {
  float: left;
}

#lichkin-tasks-bar #lichkin-tasks-container .lichkin-task:hover {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.1);
}

#lichkin-tasks-bar #lichkin-tasks-container .lichkin-task-active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

#lichkin-tasks-bar #lichkin-tasks-container .lichkin-task-active:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}
