@charset "UTF-8";

.loginBoxOut {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.loginBoxMid {
  display: table-cell;
  vertical-align: middle;
}

.loginBoxIn {
  padding: 30px 30px 10px 30px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.1);
}

.logoBox {
  padding-bottom: 40px;
  text-align: center;
}

.systemName {
  text-align: center;
  color: var(--lichkin-plugin-font-color);
}

.copyrightBox {
  padding: 30px 10px 10px 10px;
  text-align: center;
}

.inputBox {
  padding: 10px;
  text-align: center;
}

.loginButtonBox {
  padding: 10px;
}

#loginBtn {
  width: 150px;
  text-align: center;
}