@charset "UTF-8";

:root {
  --lichkin-body-background-color: #dddddd;
  --lichkin-font-color: #333333;
  --lichkin-font-size: 12px;

  /* inputs */
  --lichkin-inputs-padding: 3px 8px 3px 8px;
  --lichkin-inputs-background-color: #ffffff;
  --lichkin-inputs-font-color: #ffffff;
  --lichkin-inputs-font-size: 12px;

  /* btn */
  --lichkin-btn-padding: 7px 0px 7px 0px;
  --lichkin-btn-background-color: #669933;
  --lichkin-btn-font-color: #ffffff;
  --lichkin-btn-font-size: 12px;

  /* toast */
  --lichkin-toast-padding: 3px 8px 3px 8px;
  --lichkin-toast-background-color: #669933;
  --lichkin-toast-color: #ffffff;
  --lichkin-toast-font-size: 12px;

  /* loading */
  --lichkin-loading-background-color: rgba(202, 202, 202, 0.66);
  --lichkin-loading-foreground-color: #88bb66;
}

*{font-size:12px;}

/* icons 用于DIV标签，图标占比0.75。 */
.lichkin-icon{background-repeat:no-repeat;text-align:center;color:#ffffff;}

/* icons for fontAwesome */
.lichkin-icon .fa, .lichkin-icon .fas, .lichkin-icon .far{text-align:center;vertical-align:middle;color:#ffffff;}

/* text */
.lichkin-text {
  display: inline-block;
  vertical-align: top;
  width: auto;
  line-height: 17px;
  padding: 0;
  color: #ffffff;
}

.lichkin-icon+.lichkin-text {
  margin-left: 3px;
}

/* commons */
#lichkin-html, .lichkin-body {
  background-color: var(--lichkin-body-background-color);
}

.lichkin-div-default {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #cccccc;
}

.lichkin-div-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.lichkin-div-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.lichkin-div-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.lichkin-div-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.lichkin-div-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

/* img */
.lichkin-img {
  vertical-align: middle;
}

/* inputs */
.lichkin-textbox {
  padding: var(--lichkin-inputs-padding);
  background-color: var(--lichkin-inputs-background-color);
  color: var(--lichkin-inputs-font-color);
  font-size: var(--lichkin-inputs-font-size);
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px;
}

.lichkin-textarea {
  padding: var(--lichkin-inputs-padding);
  background-color: var(--lichkin-inputs-background-color);
  color: var(--lichkin-inputs-font-color);
  font-size: var(--lichkin-inputs-font-size);
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px;
  resize: none;
}

/* btn */
.lichkin-btn {
  padding: var(- -lichkin-btn-padding);
  background-color: var(- -lichkin-btn-background-color);
  color: var(- -lichkin-btn-font-color);
  font-size: var(- -lichkin-btn-font-size);
  width: 100%;
  height: 100%;
  border: 1px solid #548421;
  margin: 0px;
  text-align: center;
  cursor: pointer;
}

.lichkin-button {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  text-align: center;
  vertical-align: middle;
  height: 22px;
  background-color: #5bc0de;
  border: 1px solid #46b8da;
}

.lichkin-button:hover {
  opacity: 0.6;
}

.lichkin-button .lichkin-button-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0px 3px;
  vertical-align: top;
}

.lichkin-button .lichkin-button-container .lichkin-icon-16 {
  display: inline-block;
  margin-top: 2px;
}

.lichkin-button .lichkin-button-container .lichkin-text {
  line-height: 22px;
}

/* toast */
.lichkin-toast {
  width: 100%;
  height: auto;
  border: none;
  margin: 0px;
  text-align: center;
  position: fixed;
  bottom: 18px;
  display: none;
}

.lichkin-toast span {
  padding: var(--lichkin-toast-padding);
  background-color: var(--lichkin-toast-background-color);
  color: var(--lichkin-toast-color);
  font-size: var(--lichkin-toast-font-size);
}

/* loading */
.lichkin-loading {
  padding: 0px;
  background-color: var(--lichkin-loading-background-color);
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px;
  position: fixed;
  z-index: 99999;
  top: 0px;
  display: none;
}

.lichkin-loading .center {
  padding: 0px;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px;
  position: relative;
}

.lichkin-loading .center .container {
  padding: 0px;
  width: 112px;
  height: 50px;
  border: none;
  margin: -25px 0px 0px -56px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.lichkin-loading .center .container .object {
  background-color: var(--lichkin-loading-foreground-color);
  width: 8px;
  height: 50px;
  border: none;
  margin: 0px 5px 0px 0px;
  -webkit-animation: animate 1s infinite;
  animation: animate 1s infinite;
  float: left;
}

.lichkin-loading .center .container .object:last-child {
  margin-right: 0px;
}

@-webkit-keyframes loadingAnimate {
  50% {
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes loadingAnimate {
  50% {
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

/* dialog */
.lichkin-dialog {
  background-color: #ffffff;
  position: fixed;
  border-bottom: 1px solid #46b8da;
  opacity: 0.9;
}

.lichkin-dialog-focus {
  opacity: 1.0;
}

.lichkin-dialog .lichkin-dialog-titleBar {
  background-color: #5bc0de;
  padding: 3px 0px;
  height: 20px;
  line-height: 20px;
  cursor: move;
  border-left: 1px solid #46b8da;
  border-right: 1px solid #46b8da;
  border-top: 1px solid #46b8da;
}

.lichkin-dialog-focus .lichkin-dialog-titleBar {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.lichkin-dialog .lichkin-dialog-titleBar .lichkin-icon {
  float: left;
  margin-left: 6px;
  margin-top: 2px;
}

.lichkin-dialog .lichkin-dialog-titleBar .lichkin-title {
  float: left;
  color: #ffffff;
  margin-left: 6px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}

.lichkin-dialog .lichkin-dialog-titleBar .lichkin-buttons {
  float: right;
  color: #ffffff;
  cursor: pointer;
  margin-right: 6px;
}

.lichkin-dialog .lichkin-dialog-titleBar .lichkin-buttons .lichkin-icon-close {
  background-color: #d9534f;
}

.lichkin-dialog .lichkin-dialog-contentBar {
  border-left: 1px solid #46b8da;
  border-right: 1px solid #46b8da;
  overflow: auto;
}

.lichkin-dialog .lichkin-dialog-buttonsBar {
  border-left: 1px solid #46b8da;
  border-right: 1px solid #46b8da;
  border-bottom: 1px solid #46b8da;
  padding: 5px;
  background-color: #c9e6ff;
  text-align: right;
}

.lichkin-dialog .lichkin-dialog-buttonsBar .lichkin-button {
  background-color: #f0ad4e;
  border-color: #eea236;
  margin-left: 5px;
}

/** tree */
.lichkin-tree ul {
  list-style: none;
  padding: 0px;
}

.lichkin-tree .lichkin-icon {
  float: left;
}

.lichkin-tree .lichkin-tree-node-container {
  height: 16px;
  padding: 2px 0px;
}

.lichkin-tree .lichkin-tree-node-container .fa,
.lichkin-tree .lichkin-tree-node-container .far,
.lichkin-tree .lichkin-tree-node-container .lichkin-text,
.lichkin-tree .lichkin-tree-node-container .lichkin-tree-node-checkbox {
  float: left;
  color: #337ab7;
}

.lichkin-tree .lichkin-tree-node-container-hover {
  cursor: pointer;
  background-color: #5bc0de;
}

.lichkin-tree .lichkin-tree-node-container-hover .fa,
.lichkin-tree .lichkin-tree-node-container-hover .far,
.lichkin-tree .lichkin-tree-node-container-hover .lichkin-text {
  color: #ffffff;
}