@charset "UTF-8";

:root {
  --lichkin-body-background-color: #ffffff;

  --lichkin-plugin-font-size: 12px;

  --lichkin-plugin-border-color: #2e6da4;
  --lichkin-plugin-background-color: #ffffff;
  --lichkin-plugin-font-color: var(--lichkin-plugin-border-color);

  --lichkin-plugin-light-border-color: #46b8da;
  --lichkin-plugin-light-background-color: #ffffff;
  --lichkin-plugin-light-font-color: var(--lichkin-plugin-light-border-color);

  --lichkin-plugin-inverse-border-color: var(--lichkin-plugin-border-color);
  --lichkin-plugin-inverse-background-color: var(--lichkin-plugin-border-color);
  --lichkin-plugin-inverse-font-color: var(--lichkin-plugin-background-color);

  --lichkin-plugin-border-color-selected: #ffffff;
  --lichkin-plugin-background-color-selected: #c0daef;
  --lichkin-plugin-font-color-selected: #000033;

  --lichkin-plugin-border-color-hover: #2e6da4;
  --lichkin-plugin-background-color-hover: #fbe4bf;
  --lichkin-plugin-font-color-hover: #000033;

  --lichkin-plugin-border-color-selected-hover: #2e6da4;
  --lichkin-plugin-background-color-selected-hover: #d9eed9;
  --lichkin-plugin-font-color-selected-hover: #000033;

  --lichkin-plugin-border-color-invalid: #d43f3a;
  --lichkin-plugin-background-color-invalid: #ffe6e6;
  --lichkin-plugin-font-color-invalid: #d43f3a;

  --lichkin-plugin-header-border-color: #ffffff;
}

#lichkin-html,.lichkin-body {background-color:var(--lichkin-body-background-color);}

/** DIV */
DIV.lichkin-div.default {color:#ffffff;background-color:#ffffff;border-color:#cccccc;}
DIV.lichkin-div.primary {color:#ffffff;background-color:#337ab7;border-color:#2e6da4;}
DIV.lichkin-div.success {color:#ffffff;background-color:#5cb85c;border-color:#4cae4c;}
DIV.lichkin-div.info    {color:#ffffff;background-color:#5bc0de;border-color:#46b8da;}
DIV.lichkin-div.warning {color:#ffffff;background-color:#f0ad4e;border-color:#eea236;}
DIV.lichkin-div.danger  {color:#ffffff;background-color:#d9534f;border-color:#d43f3a;}

/** IMG */
IMG.lichkin-img {vertical-align:middle;}

/** table */
TABLE.lichkin-table, .lichkin-table th, .lichkin-table td {padding:0px;}
TABLE.lichkin-table {text-align:center;border-collapse:collapse;}
TABLE.lichkin-table .lichkin-table {width:100%;border:none;}
TABLE.lichkin-table .lichkin-table .lichkin-table-row .lichkin-table-cell:first-child {border-left:none;}
TABLE.lichkin-table .lichkin-table .lichkin-table-row .lichkin-table-cell:last-child {border-right:none;}

/** toast */
.lichkin-toast {width:100%;border:none;margin:0px;text-align:center;position:fixed;bottom:18px;display:none;z-index:99999;}
.lichkin-toast span {padding:8px16px;background-color:#669933;color:#ffffff;font-size:20px;}

/** loading */
@keyframes loadingAnimate {50%{-ms-transform:scaleY(0);-webkit-transform:scaleY(0);transform:scaleY(0);}}
.lichkin-loading {padding:0px;background-color:rgba(202, 202, 202, 0.66);width:100%;height:100%;border:none;margin:0px;position:fixed;z-index:99999;top:0px;display:none;}
.lichkin-loading .center {padding:0px;width:100%;height:100%;border:none;margin:0px;position:relative;}
.lichkin-loading .center .container {padding:0px;width:112px;height:50px;border:none;margin:-25px 0px 0px -56px;left:50%;top:50%;position:absolute;}
.lichkin-loading .center .container .object {background-color:#88bb66;width:8px;height:50px;border:none;margin:0px 5px 0px 0px;-webkit-animation:animate 1s infinite;animation:animate 1s infinite;float:left;}
.lichkin-loading .center .container .object:last-child {margin-right:0px;}

/** plugin */
.lichkin-plugin {position:relative;vertical-align:top;display:inline-block;border:1px solid var(--lichkin-plugin-border-color);background-color:var(--lichkin-plugin-background-color);}
.lichkin-plugin .lichkin-plugin-text {position:absolute;overflow:auto;border:none;color:var(--lichkin-plugin-font-color);font-size:var(--lichkin-plugin-font-size);}
.lichkin-plugin .lichkin-plugin-button {border:none;position:absolute;right:0px;top:0px;background-color:var(--lichkin-plugin-background-color);}
.lichkin-plugin .lichkin-plugin-button .lichkin-icon i {color:var(--lichkin-plugin-font-color);}

.lichkin-plugin .lichkin-plugin-dataContainer {list-style:none;padding:0px;margin:0px;}
.lichkin-plugin .lichkin-plugin-dataContainer .lichkin-plugin-node {overflow:hidden;cursor:pointer;border-bottom-width:1px;border-bottom-style:dotted;background-color:var(--lichkin-plugin-background-color);border-color:var(--lichkin-plugin-border-color);}

.lichkin-plugin .lichkin-plugin-dataContainer .lichkin-plugin-node.selected {background-color:var(--lichkin-plugin-background-color-selected);border-color:var(--lichkin-plugin-border-color-selected);}
.lichkin-plugin .lichkin-plugin-dataContainer .lichkin-plugin-node.selected .lichkin-text {color:var(--lichkin-plugin-font-color-selected);}

.lichkin-plugin .lichkin-plugin-dataContainer .lichkin-plugin-node:hover {background-color:var(--lichkin-plugin-background-color-hover);border-color:var(--lichkin-plugin-border-color-hover);}
.lichkin-plugin .lichkin-plugin-dataContainer .lichkin-plugin-node:hover .lichkin-text {color:var(--lichkin-plugin-font-color-hover);}

.lichkin-plugin .lichkin-plugin-dataContainer .lichkin-plugin-node.selected:hover {background-color:var(--lichkin-plugin-background-color-selected-hover);border-color:var(--lichkin-plugin-border-color-selected-hover);}
.lichkin-plugin .lichkin-plugin-dataContainer .lichkin-plugin-node.selected:hover .lichkin-text {color:var(--lichkin-plugin-font-color-selected-hover);}

.lichkin-plugin .lichkin-plugin-titleBar {position:relative;padding:3px 0px;height:30px;line-height:30px;background-color:var(--lichkin-plugin-border-color);border-top:1px solid var(--lichkin-plugin-border-color);border-right:1px solid var(--lichkin-plugin-border-color);border-bottom:1px solid var(--lichkin-plugin-header-border-color);border-left:1px solid var(--lichkin-plugin-border-color);}
.lichkin-plugin .lichkin-plugin-titleBar>.lichkin-icon {position:absolute;left:6px;top:6px;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-icon i {color:var(--lichkin-plugin-background-color);}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-text {position:absolute;left:6px;top:0px;height:29px !important;line-height:29px !important;color:var(--lichkin-plugin-background-color);font-size:var(--lichkin-plugin-title-font-size);}
.lichkin-plugin .lichkin-plugin-titleBar>.lichkin-icon+.lichkin-text {left:27px;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons {position:absolute;cursor:pointer;right:6px;top:1px;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons .lichkin-button {background-color:transparent;border-color:transparent;height:24px;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons .lichkin-button .lichkin-button-container {height:24px;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons .lichkin-icon i {color:var(--lichkin-plugin-background-color);}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons .lichkin-button .lichkin-icon-add i {color:#60ff60;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons .lichkin-button .lichkin-icon-edit i {color:#ffff00;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons .lichkin-button .lichkin-icon-remove i {color:#ff9c9c;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons .lichkin-icon-reset i {color:#ff7979;}
.lichkin-plugin .lichkin-plugin-titleBar .lichkin-buttons .lichkin-icon-search i {color:#fff45d;}

.lichkin-plugin-invalid .lichkin-plugin {border:1px solid var(--lichkin-plugin-border-color-invalid);background-color:var(--lichkin-plugin-background-color-invalid);}
.lichkin-plugin-invalid {border:1px solid var(--lichkin-plugin-border-color-invalid);background-color:var(--lichkin-plugin-background-color-invalid);}
.lichkin-plugin-invalid .lichkin-plugin-text {color:var(--lichkin-plugin-font-color-invalid);background-color:var(--lichkin-plugin-background-color-invalid);}
.lichkin-plugin-invalid .lichkin-plugin-button {background-color:var(--lichkin-plugin-background-color-invalid);}
.lichkin-plugin-invalid .lichkin-plugin-button .lichkin-icon i {color:var(--lichkin-plugin-font-color-invalid);}

.lichkin-plugin-invalid .lichkin-plugin-dataContainer .lichkin-plugin-node {background-color:var(--lichkin-plugin-background-color-invalid);border-color:var(--lichkin-plugin-border-color-invalid);}
.lichkin-plugin-invalid .lichkin-plugin-dataContainer .lichkin-plugin-node .lichkin-icon i {color:var(--lichkin-plugin-font-color-invalid);}
.lichkin-plugin-invalid .lichkin-plugin-dataContainer .lichkin-plugin-node .lichkin-text {color:var(--lichkin-plugin-font-color-invalid);}

.lichkin-plugin-invalid .lichkin-plugin-titleBar {background-color:var(--lichkin-plugin-border-color-invalid);border-color:var(--lichkin-plugin-border-color-invalid);}

/** plugin popup */
.lichkin-plugin-popup {display:none;position:absolute;overflow:auto;left:-1px;z-index:99999;border:1px solid var(--lichkin-plugin-border-color);border-top:none;background-color:var(--lichkin-plugin-background-color);}
.lichkin-plugin-popup-invalid {border-color:var(--lichkin-plugin-border-color-invalid);background-color:var(--lichkin-plugin-background-color-invalid);}

.lichkin-plugin-popup .lichkin-plugin-dataContainer {list-style:none;padding:0px;margin:0px;}
.lichkin-plugin-popup .lichkin-plugin-dataContainer .lichkin-plugin-node {overflow:hidden;cursor:pointer;border-bottom-width:1px;border-bottom-style:dotted;background-color:var(--lichkin-plugin-background-color);border-color:var(--lichkin-plugin-border-color);}

.lichkin-plugin-popup .lichkin-plugin-dataContainer .lichkin-plugin-node.selected {background-color:var(--lichkin-plugin-background-color-selected);border-color:var(--lichkin-plugin-border-color-selected);}
.lichkin-plugin-popup .lichkin-plugin-dataContainer .lichkin-plugin-node.selected .lichkin-text {color:var(--lichkin-plugin-font-color-selected);}

.lichkin-plugin-popup .lichkin-plugin-dataContainer .lichkin-plugin-node:hover {background-color:var(--lichkin-plugin-background-color-hover);border-color:var(--lichkin-plugin-border-color-hover);}
.lichkin-plugin-popup .lichkin-plugin-dataContainer .lichkin-plugin-node:hover .lichkin-text {color:var(--lichkin-plugin-font-color-hover);}

.lichkin-plugin-popup .lichkin-plugin-dataContainer .lichkin-plugin-node.selected:hover {background-color:var(--lichkin-plugin-background-color-selected-hover);border-color:var(--lichkin-plugin-border-color-selected-hover);}
.lichkin-plugin-popup .lichkin-plugin-dataContainer .lichkin-plugin-node.selected:hover .lichkin-text {color:var(--lichkin-plugin-font-color-selected-hover);}

.lichkin-plugin-popup-invalid .lichkin-plugin-dataContainer .lichkin-plugin-node {background-color:var(--lichkin-plugin-background-color-invalid);border-color:var(--lichkin-plugin-border-color-invalid);}
.lichkin-plugin-popup-invalid .lichkin-plugin-dataContainer .lichkin-plugin-node .lichkin-text {color:var(--lichkin-plugin-font-color-invalid);}
