@charset "UTF-8";

:root {
  --lichkin-body-background-color: #ffffff;

  --lichkin-plugin-border-color: #2e6da4;
  --lichkin-plugin-background-color: #ffffff;
  --lichkin-plugin-font-color: #2e6da4;
  --lichkin-plugin-font-size: 12px;

  --lichkin-plugin-border-color-selected: #ffffff;
  --lichkin-plugin-background-color-selected: #2e6da4;
  --lichkin-plugin-font-color-selected: #ffffff;

  --lichkin-plugin-border-color-hover: #2e6da4;
  --lichkin-plugin-background-color-hover: #eea236;
  --lichkin-plugin-font-color-hover: #ffffff;

  --lichkin-plugin-border-color-selected-hover: #2e6da4;
  --lichkin-plugin-background-color-selected-hover: #4cae4c;
  --lichkin-plugin-font-color-selected-hover: #ffffff;

  --lichkin-plugin-border-color-invalid: #d43f3a;
  --lichkin-plugin-background-color-invalid: #ffe6e6;
  --lichkin-plugin-font-color-invalid: #d43f3a;
}

#lichkin-html,.lichkin-body {background-color:var(--lichkin-body-background-color);}

/** DIV */
DIV.lichkin-div-default {color:#ffffff;background-color:#ffffff;border-color:#cccccc;}
DIV.lichkin-div-primary {color:#ffffff;background-color:#337ab7;border-color:#2e6da4;}
DIV.lichkin-div-success {color:#ffffff;background-color:#5cb85c;border-color:#4cae4c;}
DIV.lichkin-div-info    {color:#ffffff;background-color:#5bc0de;border-color:#46b8da;}
DIV.lichkin-div-warning {color:#ffffff;background-color:#f0ad4e;border-color:#eea236;}
DIV.lichkin-div-danger  {color:#ffffff;background-color:#d9534f;border-color:#d43f3a;}

/** IMG */
IMG.lichkin-img {vertical-align:middle;}

/** table */
TABLE.lichkin-table, .lichkin-table th, .lichkin-table td {border-width:1px;border-style:solid;border-color:#2e6da4;padding:0px;}
TABLE.lichkin-table {text-align:center;border-collapse:collapse;}
TABLE.lichkin-table .lichkin-table {width:100%;border:none;}
TABLE.lichkin-table .lichkin-table .lichkin-table-row .lichkin-table-cell:first-child {border-left:none;}
TABLE.lichkin-table .lichkin-table .lichkin-table-row .lichkin-table-cell:last-child {border-right:none;}

/** toast */
.lichkin-toast {width:100%;border:none;margin:0px;text-align:center;position:fixed;bottom:18px;display:none;z-index:99999;}
.lichkin-toast span {padding:8px16px;background-color:#669933;color:#ffffff;font-size:20px;}

/** loading */
@keyframes loadingAnimate {50%{-ms-transform:scaleY(0);-webkit-transform:scaleY(0);transform:scaleY(0);}}
.lichkin-loading {padding:0px;background-color:rgba(202, 202, 202, 0.66);width:100%;height:100%;border:none;margin:0px;position:fixed;z-index:99999;top:0px;display:none;}
.lichkin-loading .center {padding:0px;width:100%;height:100%;border:none;margin:0px;position:relative;}
.lichkin-loading .center .container {padding:0px;width:112px;height:50px;border:none;margin:-25px 0px 0px -56px;left:50%;top:50%;position:absolute;}
.lichkin-loading .center .container .object {background-color:#88bb66;width:8px;height:50px;border:none;margin:0px 5px 0px 0px;-webkit-animation:animate 1s infinite;animation:animate 1s infinite;float:left;}
.lichkin-loading .center .container .object:last-child {margin-right:0px;}

/** plugin */
.lichkin-plugin {position:relative;vertical-align:top;display:inline-block;border:1px solid var(--lichkin-plugin-border-color);background-color:var(--lichkin-plugin-background-color);}
.lichkin-plugin .lichkin-plugin-text {overflow:auto;border:none;padding:0px 6px;color:var(--lichkin-plugin-font-color);font-size:var(--lichkin-plugin-font-size);}
.lichkin-plugin .lichkin-plugin-button {pointer-events:none;border:none;position:absolute;right:0px;top:0px;background-color:var(--lichkin-plugin-background-color);}
.lichkin-plugin .lichkin-plugin-button .lichkin-icon {top:2px;}
.lichkin-plugin .lichkin-plugin-button .lichkin-icon i {color:var(--lichkin-plugin-font-color);}
.lichkin-plugin-popup {display:none;position:absolute;overflow:auto;left:-1px;z-index:99999;border:1px solid var(--lichkin-plugin-border-color);border-top:none;background-color:var(--lichkin-plugin-background-color);}
.lichkin-plugin-popup ul {list-style:none;padding:0px;margin:0px;}
.lichkin-plugin-popup ul li {overflow:hidden;cursor:pointer;border-bottom-width:1px;border-bottom-style:dotted;background-color:var(--lichkin-plugin-background-color);border-color:var(--lichkin-plugin-border-color);}

.lichkin-plugin-popup ul li.selected {background-color:var(--lichkin-plugin-background-color-selected);border-color:var(--lichkin-plugin-border-color-selected);}
.lichkin-plugin-popup ul li.selected .lichkin-text {color:var(--lichkin-plugin-font-color-selected);}

.lichkin-plugin-popup ul li:hover {background-color:var(--lichkin-plugin-background-color-hover);border-color:var(--lichkin-plugin-border-color-hover);}
.lichkin-plugin-popup ul li:hover .lichkin-text {color:var(--lichkin-plugin-font-color-hover);}

.lichkin-plugin-popup ul li.selected:hover {background-color:var(--lichkin-plugin-background-color-selected-hover);border-color:var(--lichkin-plugin-border-color-selected-hover);}
.lichkin-plugin-popup ul li.selected:hover .lichkin-text {color:var(--lichkin-plugin-font-color-selected-hover);}

.lichkin-plugin-invalid {border:1px solid var(--lichkin-plugin-border-color-invalid);background-color:var(--lichkin-plugin-background-color-invalid);}
.lichkin-plugin-invalid .lichkin-plugin-text {color:var(--lichkin-plugin-font-color-invalid);background-color:var(--lichkin-plugin-background-color-invalid);}
.lichkin-plugin-invalid .lichkin-plugin-button {background-color:var(--lichkin-plugin-background-color-invalid);}
.lichkin-plugin-invalid .lichkin-plugin-button .lichkin-icon i {color:var(--lichkin-plugin-font-color-invalid);}
.lichkin-plugin-popup-invalid {border-color:var(--lichkin-plugin-border-color-invalid);background-color:var(--lichkin-plugin-background-color-invalid);}
.lichkin-plugin-popup-invalid ul li {background-color:var(--lichkin-plugin-background-color-invalid);border-color:var(--lichkin-plugin-border-color-invalid);}
.lichkin-plugin-popup-invalid ul li .lichkin-text {color:var(--lichkin-plugin-font-color-invalid);}
